.movies-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.movies-cards__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  list-style: none;

  padding: 0 0 10px 0;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .movies-cards__main {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 768px) {
  .movies-cards__main {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cards__main {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 16px;
  }
}
