.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  max-width: 1280px;
  width: 90vw;

  margin: auto;
  padding: 18px 0;
}

.header_landing {
  background-color: #073042;
}
